<div class="display-flex justify-center row">
    <div class="col-sm-10 col-lg-8">
        <article class="card mx-3">
            <div class="card-header">
                <a href="/post/{{id}}">
                    <div class="flex-row justify-space-between">
                        <div class="header-text">
                            {{title}}
                        </div>
                        <div class="header-text">
                            Posted by {{user.username}} on {{format_date created_at}}
                        </div>
                    </div>
                </a>
            </div>
            <div class="card-body">  
                    {{post_content}}
                <div class="card-footer mt-1">  
                    {{comments.length}} {{format_plural 'comment' comments.length}}
                </div>
            </div>
        </article>
    </div>
</div>